/* * {
border: 1px solid #a31717;
} */

.simulator-config {
  background: #17022b;
  padding: 20px;
  border-radius: 16px;
  font-family: 'Inter', sans-serif;
}

.config-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #e2dfdf;
  text-align: center;
}

.form-section {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

label {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
  left: -2px;
  font-size: 0.9rem;
  color: #e2dfdf;
}

.template-select {
  width: 100%;
  background-color: #17022b;
  color: #e2dfdf;
  margin: 2px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
  font-size: 0.9rem;
}

.template-select:focus {
  border-color: #2d89ef;
}

input[type="number"],
input[type="text"],
select {
  background-color: #17022b;
  color: #e2dfdf;
  margin: 2px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
  font-size: 0.9rem;
}

input[type="number"]:focus,
input[type="text"]:focus,
select:focus {
  border-color: #2d89ef;
}

input[type="range"] {
  appearance: none;
  width: 194px;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ddd;
  border-radius: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  background: #2d89ef;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px;
}

button {
  background: #2d89ef;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 4px;
  width: 30%;
  height: fit-content;
}

button:hover {
  background: #1b61b3;
}

.space-objects-container {
  max-height: 50vh;
  overflow-y: auto;
}

.space-objects-container::-webkit-scrollbar {
  background: #17022b;
}

.space-object {
  display: flex;
  flex-wrap: wrap;
  grid-column: span 2;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  gap: 8px;
  padding: 8px;
  background: #17022b;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  margin-bottom: 12px;
  justify-content: space-evenly
}

.space-object input {
  width: 80%;
}

.space-object select {
  width: 100%;
}

h3 {
  grid-column: span 2;
  color: #e2dfdf;
  font-size: 1.3rem;
  margin-top: 16px;
  margin-bottom: 6px;
}

.floating-label {
  width: 30%;
  position: relative;
  margin-bottom: 20px;
}

.floating-label input,
.floating-label select {
  max-width: fit-content;
  padding: 8px 10px;
  background-color: #17022b;
  color: #e2dfdf;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s, padding-top 0.3s, padding-bottom 0.3s;
}

.floating-label label {
  width: 90%;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 4px;
  color: #a3a3a3;
  transition: all 0.3s;
  pointer-events: none;
  font-size: 0.9rem;
}

.floating-label input:focus+label,
.floating-label input:not(:placeholder-shown)+label,
.floating-label select:focus+label,
.floating-label select:not([value=""])+label {
  top: -8px;
  left: 10px;
  font-size: 0.75rem;
  color: #2d89ef;
}

.floating-label input:focus,
.floating-label select:focus {
  border-color: #2d89ef;
  padding-top: 12px;
  padding-bottom: 4px;
}